

.layout {
  width: 200px;
  height: 200px;
  display: grid;
  grid:
    "navbar body" 1fr
    / auto 1fr;
  gap: 8px;
}

.navbar {
  grid-area: navbar;

  height: 440px;
  width: 215px;
  overflow: auto;
  float: left;
  position: relative;
  margin-left: -5px;
}
.body {
  grid-area: main-doc;
  text-align: left;
}
 header {
    color: black;
    margin: 10px;
    text-align: center;
    font-size: 1.8em;
    font-weight: thin;
}
li {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
   list-style-type: none;
}

 nav {
  display: block;
       overflow-y: auto;
    overflow-x: hidden;
}

#navbar {
  overflow: auto;
  position: fixed;
  min-width: 200px;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  border-right: solid;
  border-color: silver;

}
main {
  display: block;
}
#main-doc header{
     text-align: left;
   }
#main-doc {
  position: absolute;
  margin-left: 300px;
  padding: 40px;
  margin-bottom: 200px;
}

@media (max-width:720px){
   p {
     display: none;
   }

 }
